pulp-glue>=0.20.0,<0.22.0  # Keep this in sync with plugins/module_utils/pulp_glue.py

ansible_runner<2.3; python_version < '3.7'
ansible_runner; python_version >= '3.7'
flake8
pylint
pycodestyle
voluptuous
pytest>=4.4.0
pytest-xdist
vcrpy

# Temporary pin for a vcr bug
urllib3<2.0.0
