pulp-glue<0.35,>=0.29.2
pulp-glue-deb<0.4.0,>=0.3.0

ansible_runner<2.3; python_version < '3.7'
ansible_runner; python_version >= '3.7'
flake8
pylint
pycodestyle
voluptuous
pytest>=4.4.0
pytest-xdist
vcrpy
